In [1]:
x = 3
# value name: x
# object: 3
# = : reference between the two

In [2]:
L1 = [2,3,4]

In [3]:
L2 = L1

In [4]:
L2[0] = 24

In [5]:
L1

[24, 3, 4]

In [6]:
L = [2,3,4]
M1 = L
M2 = L[:]
M1 is M2

False

In [7]:
L = [1,2,3]

In [8]:
M = [1,2,3]

In [9]:
L == M

True

In [10]:
L is M

False

In [11]:
K = L

In [12]:
K is L

True

In [13]:
K = L[:]

In [14]:
K is L

False

In [15]:
K == L

True

In [16]:
id(L)

2357765081408

In [17]:
id(K)

2357764334784

In [18]:
id(M)

2357765080320

In [19]:
M = list(L)

In [20]:
M == L

True

In [21]:
M is L

False

In [23]:
R = L

In [24]:
R is L

True

In [25]:
id(R)

2357765081408

In [26]:
id(L)

2357765081408

In [27]:
import copy
x = [1,[2]]
y = copy.copy(x)
z = copy.deepcopy(x)
y is z

False

In [28]:
if x > y:
    difference = x - y
    print("x is greater than y")
print("But this gets printed no matter what!")

But this gets printed no matter what!

In [29]:
x = 2
y = 3

In [30]:
if x > y:
    difference = x - y
    print("x is greater than y")
print("But this gets printed no matter what!")

But this gets printed no matter what!

In [31]:
x = 3
y = 2

In [32]:
if x > y:
    difference = x - y
    print("x is greater than y")
print("But this gets printed no matter what!")

x is greater than y
But this gets printed no matter what!

In [33]:
if False:
    print("False!")
elif True:
    print("Now True!")
else:
    print("Finally True!")

Now True!

In [34]:
if True:

SyntaxError: unexpected EOF while parsing (<ipython-input-34-2c8a33b52dfb>, line 1)

In [35]:
if True:
    print("True")

True

In [1]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [3]:
names = ["Jim", "Tom", "Nick", "Pam", "Sam", "Tim"]

In [4]:
for name in names:
    print(name)

Jim
Tom
Nick
Pam
Sam
Tim

In [5]:
for i in range(len(names)):
    print(names[i])

Jim
Tom
Nick
Pam
Sam
Tim

In [6]:
age = {"Tim":29,"Jim":31,"Pam":27, "Sam":35}

In [7]:
age.keys()

dict_keys(['Tim', 'Jim', 'Pam', 'Sam'])

In [8]:
for name in age.keys():
    print(name, age[name])

Tim 29
Jim 31
Pam 27
Sam 35

In [9]:
for name in age:
    print(name, age[name])

Tim 29
Jim 31
Pam 27
Sam 35

In [10]:
for name in sorted(age.keys()):
    print(name, age[name])

Jim 31
Pam 27
Sam 35
Tim 29

In [11]:
for name in sorted(age.keys(), reverse=True):
    print(name, age[name])

Tim 29
Sam 35
Pam 27
Jim 31

In [12]:
bears = {"Grizzly":"angry", "Brown":"friendly", "Polar":"friendly"}

In [41]:
for bear in bears:
    if bears[bear] == "friendly":
        print("Hello, "+bear+" bear!")
else:
    print("odd")

Hello, Brown bear!
Hello, Polar bear!
odd

In [44]:
n = 10

In [12]:
n=100
number_of_times = 0
while n >= 1:
    n //= 2
    number_of_times += 1
print(number_of_times)

7

In [13]:
numbers = range(10)

In [14]:
squares = []

In [16]:
for i in numbers:
    squares.append(i**2)

In [17]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
squares2 = []

In [19]:
squares2 = [number**2 for number in numbers]

In [20]:
squares2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

How can you use a list comprehension, including if and for, to sum the odd numbers from 0 through 9?

In [ ]:
sum([i**2 for i in range(3)])

In [27]:
sum([i for i in range(10) if i % 2 == 0])

20

In [32]:
filename = "input.txt"
for line in open(filename):
    print(line)

first line

second line

third line

In [33]:
filename = "input.txt"
for line in open(filename):
    print(line.rstrip())

first line
second line
third line

In [34]:
filename = "input.txt"
for line in open(filename):
    line = line.rstrip()
    print(line)

first line
second line
third line

In [35]:
filename = "input.txt"
for line in open(filename):
    line = line.rstrip().split(" ")
    print(line)

['first', 'line']
['second', 'line']
['third', 'line']

In [36]:
F = open("output.txt", "w")

In [38]:
F.write("This is a new string\n")

21

In [40]:
F.close()

In [41]:
def add(a,b):
    return a+b

In [42]:
def add_and_sub(a,b):
    mysum = a + b
    mydiff = a - b
    return (mysum, mydiff)

In [43]:
add_and_sub(20,15)

(35, 5)

In [44]:
add

In [45]:
newadd = add

In [46]:
newadd(2,3)

5

In [47]:
add(2,3)

5

In [49]:
def modify(mylist):
    mylist[0] *= 10

In [50]:
L = [1,3,5,7,9]

In [51]:
modify(L)

In [52]:
L

[10, 3, 5, 7, 9]

In [53]:
def modify(mylist):
    mylist[0] *= 10
    return(mylist)
L = [1, 3, 5, 7, 9]

In [54]:
M = modify(L)

In [55]:
M is L

True

In [62]:
def intersect(s1,s2):
    res = []
    for i in s1:
        if i in s2:
            res.append(i)
    return(res)

In [63]:
s1 = [1,2,3,4,5,6]
s2 = [1,4,6,8,9]

In [64]:
intersect(s1,s2)

[1, 4, 6]

In [110]:
import random
characters = list("abcdefghijklmnoqrstuvwxyz0123456789")
def passwordgen(length):
    pw = str()
    for i in range(length):
        pw += random.choice(characters)
    return pw

In [113]:
passwordgen(10)

'odtc2oqwjj'

In [116]:
def password(length):
    pw = str()
    characters = "abcdefghijklmnoqrstuvwxyz0123456789"
    for letter in range(length):
        pw += random.choice(characters)
    return pw

In [117]:
password(48)

'x9oq9xajdt4co0169jlkvfx9o9snnjklj4hgnyut6fsfrrrg'

In [121]:
def is_vowel(letter):
    if letter in "aeiouy":
        return(True)
    else:
        return(False)

In [122]:
is_vowel("a")

True

In [123]:
def is_vowel(letter):
    if type(letter) == int:
        letter = str(letter)
    if letter in "aeiouy":
        return(True)
    else:
        return(False)

In [124]:
is_vowel(4)

False

In [131]:
def factorial(n):
    if n == 0:
        return 1
    else:
        N = 1
        for i in range(1, n+1):
            N = N*i
        return(N)

In [132]:
factorial(4)

24

In [2]:
L = [1,2,3]

In [3]:
type(L)

list

In [4]:
len(L)

3

In [5]:
L[5]

IndexError: list index out of range

In [7]:
L = [2,4,6]

In [8]:
L.add(8)

AttributeError: 'list' object has no attribute 'add'

In [9]:
L.append(8)

In [10]:
D = {"1":"aa","2":"bb","3":"cc"}

In [11]:
D[1]

KeyError: 1

In [12]:
D["1"]

'aa'

In [13]:
"Python"[0] = "p"

TypeError: 'str' object does not support item assignment

In [14]:
"the answer is" + 8

TypeError: can only concatenate str (not "int") to str

In [15]:
"the answer is" + str(8)

'the answer is8'

In [19]:
def rsum(n):
    rsum = 0
    for k in range(n):
        rsum += k
    return rsum

In [20]:
rsum(8)

28